@import "tailwindcss";

@layer base {
  body {
    background-color: #020617;
    color: #f8fafc;
    /* @apply bg-slate-950 text-slate-50 antialiased overflow-x-hidden; */
    @apply antialiased overflow-x-hidden;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}